@model VeggieRestaurantApp.Models.RestaurantDinerRestaurantReviewVM

@{
    ViewData["Title"] = "CreateReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Review</h1>

<h4>Please Leave Your Review Below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DinerVM.Id" />
            <input type="hidden" asp-for="RestaurantVM.Id" />
            <div class="form-group">
                @*<label asp-for="RestaurantReviewVM" class="control-label"></label>*@
                <input asp-for="RestaurantReviewVM.Review" class="form-control" />
                <span asp-validation-for="RestaurantReviewVM.Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RestaurantIndex">Back to Restaurants</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
