@model IEnumerable<VeggieRestaurantApp.Models.RestaurantReview>

@{
    ViewData["Title"] = "ReviewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reviews</h1>

<p>
    <a asp-action="RestaurantIndex">Back To Restaurants</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diner.Id)
            </td>
        </tr>
}
    </tbody>
</table>
