@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Plant Based Foodies</h1><br>
    <img src="https://eco18.com/wp-content/uploads/2020/10/AdobeStock_192010191-1170x497.jpeg" alt="Colorful Vegetarian Food" width="auto" height="400"><br>
    <h6>A Place for All Your Plant Based Dining Needs</h6>
</div>
